.box_shadox {
  padding: 0px !important;
  border-top: 4px solid #4154f1;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.checkbox_encuesta {
  margin-left: 12px;
  padding: 5px;
}
.form-check-input {
  font-size: 25px !important;
}
.btnsFlexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thank_voto {
  color: #777 !important;
}
.form-switch .form-check-input {
  width: 1.6em !important;
}

.media_object_encuesta {
  background: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 30px;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d7d3d3;
  float: right;
  margin-right: 5px;
}
.number {
  font-size: 15px;
  font-weight: bold;
  color: #4154f1;
}
.form-check-input {
  margin-top: 0px !important;
}
#date_coment {
  font-size: 13px;
  color: #b5afaf;
  display: flex;
  justify-content: end;
  padding: 0px 70px;
}
